body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
ul,li{
    display: flex;
    text-decoration: none;
    margin:15px;
    color:#54e346;
    font-weight: bold;
}
ul{
    margin:0;
}

i a{
    display: flex;
}
i{
    margin-left: 10px; 
    width:50px;
    height:50px;
    margin-top: 20px;
}
.container{
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid-container{
    background:darkturquoise;
    height:160vh;
  
}
.item3{
    width:600px;

} 
.photo{
    width:230px;
    height:220px;
    margin-top: 5%;
    background: url("../image-contact/pic1.jpg");
    background-position: center;
    background-size: cover;
    margin-left: 10%;
    border-radius: 220px;
}
.item1{
    display: flex;
}
.text1{
    margin-left: 30px;
}
hr{
    margin-left: 3px;
    width:80%;
}
nav{
    background-color:fuchsia;
    height:10vh;
    margin:0;
    padding:0;
   
}
li{
    display: flex;
}
h2,h4{
    text-align: center;
    color:#000000;
}
h3{
    color:crimson;
    margin-left: 10px;
}
.img{
    display: flex;
}
p{
    margin-left: 5px;
    color:#000000;
    font-weight: bold;
}

.div{
    display:flex;
    
}
.button{
    margin-left: 0;
    width:160px;
    height:50px;
    border-radius: 20px;
    background-color: rgb(111, 184, 39);
    cursor: pointer;
    text-align: center;
}
.education{
    margin-top: -7;
}
button{
    width:120px;
    height:40px;
    margin-top: 20px;
    margin-left: 40%;
    cursor: pointer;
    background:darkorchid;
    border-radius: 10px;
    
}
button:hover{
    background:deeppink;
}
.flex{
    display: flex;
}
.sponsor{
    margin-left: 20%;
    font-weight: bold;
    padding-top: 20px;
}
.contact{
    margin-left: 10%;
    font-weight: bold;
    padding-top: 20px;
}
img{
    width:30px;
    height:30px;
    border-radius: 20px;
    margin-top: 10px;
}
h1{
    color:rgb(4, 4, 66);
    background-color: blueviolet;
    width:100px;
    border-radius: 10px;
    font-size: 25px;
}
h1,p{
    margin-left: 10px;
}
.interest{
    margin-left: 40%;
    width:300px;
}
.fav,.objective{
    display: flex;
}
.second,.third{
    margin-left: 10%;
}
.footer{
    background:lightslategrey;
    height:20vh;
}
.contact{
    margin-left: 10%;
    font-weight: bold;
}
img{
    width:30px;
    height:30px;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 10px;
}
.sponsor{
    margin-left: 20%;
    font-weight: bold;
}
@media(max-width:500px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item2"
        "nav"
        "item1"
        "div";
        
    }
    .grid-container{
        width:450px;
        height:120vh;
    }
    .footer{
        height:40vh;
    }
    .item2{
        
        margin-top: 800px;
        margin-left: 0;
        
    }
    .education{
        margin-left: 0px;
    }


    
    
}




